# Xcode / Swift
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (not used, but ignore if added later)
Pods/
Carthage/Build/

# Misc
*.log
